/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

.footer {
    background-color: #343a40; /* Màu nền footer */
    color: white; /* Màu chữ footer */
    border-top-left-radius: 15px; /* Bo tròn góc trên trái */
    border-top-right-radius: 15px; /* Bo tròn góc trên phải */
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
}